img{
    width:300px;
}
button{
    margin-left: 60px;
    background-color: rgb(5,25,25);
    border: hidden;
}
.headerContainer{
    border: outset gray 5px;
    background-color: rgb(5,25,25);
}
.login{
    background-color: green;
}
.home{
    background-color: green;
}