.leftNavContainer{
    border: solid black 2px;
    background-color: rgb(42, 64, 132);
    color: white;
   
}
.mainContent{
    border: solid black 2px;
    background-color: white;
}
.rightContainer{
    border: solid black 2px;
    background-color: rgb(11, 62, 16);
}
button{
    background-color: rgb(42, 64, 132);
    margin-left: 30px;
    border: hidden;
    margin-top: 20px;
}
.outputDecorater{
    background-color: rgb(11, 62, 16);
}
.Shared{
    border: solid black 2px;
    background-color: aqua;
}
.custom{
    border: solid black 2px;
    background-color: blue;
    color: white;
}