.clm2{
    border: solid black 2px;
    background-color: aqua;
}
.clm8{
    border: solid black 2px;
    background-color: rgb(14, 54, 101);
}
.rclm2{
    border: solid black 2px;
    background-color: aquamarine;
}
h5{
    margin-top: 40px;
}
.imge1{
    width: 200px;
    height: 400px;
}
img{
    margin: 0px 300px;
}
