.loginForm{
    margin: 50px;
    border: outset black 5px;
    background-color: aqua;
    padding-left: 40px;
}
.email{
    margin-top: 20px;
}
.password{
    margin-top: 30px;
}
.loginButton{
    margin-top: 20px;
    margin-left: 50px;
}
a{
    margin-left: 0px;
}