.footerContainer{
    border: solid black 2px;
    background-color: rgb(40, 167, 160);
    padding-bottom: 20px;
}
button{
    margin-left: 80px;
    background-color: rgb(40, 167, 160);
    border: hidden;
    margin-top: 10px;
}